* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Courier New", Courier, monospace;
}

.container {
  width: 90%;
  height: 1200px;
  outline: 1px solid #000;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  /* grid-template-rows: repeat(10, 1fr) ; */

  /* column-gap: 10px; */

  /* grid-template-areas: 
  "element1 element1 element1 element2 element2"
  "element1 element1 element1 element2 element2"
  "element3 element3 element3 element2 element2"
  "element4 element4 element4 element4 ."
  ; */
  gap: 10px;
}

.item {
  /* width: 100px;
  height: 100px; */
  color: #fff;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
}

.item1{
    background-color: rebeccapurple;
    background-image: url("imgs/canada.jpg");
    /* grid-area: element1; */
    /* grid-column: 2/5;
    grid-row: 3/6; */
    /* grid-columns: linea-inicial / linea-final; */
}
.item2{
    background-color: purple;
    background-image: url("imgs/car.jpg");
    /* grid-area: element2; */
}
.item3{
    background-color: pink;
    background-image: url("imgs/cubo.jpg");
    /* grid-area: element3; */
}
.item4{
    background-color: brown;
    background-image: url("imgs/girl.jpg");
    /* grid-area: element4; */
}
.item5{
    background-color: royalblue;
    background-image: url("imgs/palma.jpg");
}
.item6{
    background-color: aqua;
    background-image: url("imgs/girl2.jpg");
}
/* 
@media (min-width:700px){
    .container {      
        grid-template-areas: 
        "element1 element1 element1 element2 element2"
        "element1 element1 element1 element2 element2"
        "element3 element3 element3 element2 element2"
        "element4 element4 element4 element2 element2"
        ;
      }
} */
